
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgb(52, 64, 81);
    height: 61px;
    z-index: 162;      
}
.wrapper{
    margin: 0 auto;
    max-width: 1060px;
}
.wrapper_header{  
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.main{
    background: url(/img/bg_main.png);
    background-size: cover;
}
.logo{
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(255, 255, 255);
  }
ul{
    display: flex;
    flex-wrap: wrap;
}
.nav_list{
    margin-right: 483px;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}
.list_text{
    color: aliceblue;
    margin-right: 35px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(255, 255, 255);
    text-decoration: none;
}   






















.main{
    padding-top:109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title_container_text{
    text-align: center;
    font-size: 79px;
    font-family: "Franklin Gothic Medium";
    color: rgb(44, 56, 74);

}
.title_container_text2{
    padding-top: 29px;
    text-align: center;
    font-size: 21px;
    font-family: "Franklin Gothic Medium";
    color: rgb(121, 129, 141);
      
}
.title_container_btns{
    text-align: center;
    padding-top: 70px;
    margin-left: 26px;
}
.title_container_btn{
    text-decoration: none;
    padding: 10px;
    overflow:hidden;
    border-width: 2.083px;
    border-color: rgb(109, 118, 130);
    background-color: rgb(235, 235, 242);
    border-style: solid;
    border-radius: 5px;
    width: 90.834px;
    height: 37.834px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(109, 118, 130);
     margin-right: 26px;     
}






































.wrapper_am{
    filter: drop-shadow(0px -10px 30px rgba(0, 0, 0, 0.267));
    background-color: rgb(255, 255, 255);
    transform: translate(0,-100px);
    width: 100%;
    min-height: 717px;
}
.wrapper_title_container{
    padding-top: 108px;
    text-align: center;
    width: 810px;
    margin: 0 auto;
}
.title_container_text3{
font-family: Franklin Gothic Heavy;
font-size: 33px;
}
.line{
    margin: 0 auto;
    margin-top: 31px;
    padding: 2px;
    width: 62px;
    background-color: rgb(235, 103, 10);
}
.circle_photo{
    padding: 59px 0px 22px 0px;
}

.title_container_text4{
    margin-bottom: 36px;
    text-align: left;
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90); 
}
.title_container_btn_am{
    margin-top: 100px;
    text-decoration: none;
    padding: 10px;
    overflow:hidden;
    border-width: 2.083px;
    border-color: rgb(109, 118, 130);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    width: 90.834px;
    height: 37.834px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(109, 118, 130);   
}
.title_container_btn_am_icon{
   margin-right: 5px;
}
















.wrapper_wic{
    height: 523px;
    transform: translate(0,-100px);
    width: 100%;
    background: url(../img/bg_what_i_can.png) no-repeat;
    background-size: cover;
}
.type_works{
    align-items: flex-end;
    justify-content: center;
    padding-top: 107px;
    display: flex;
    flex-wrap: wrap;
}
.type_works_card{
    text-align: center;
    padding:0px 42px 0px 42px;
    width: 245px;
}
.title_container_text6{
    margin-bottom: 36px;
    text-align: center;
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90); 
}
.title_container_text5{
    font-size: 21px;
    font-family: "Bahnschrift";
    color: rgb(235, 103, 10);
    padding: 34px 0px 14px 0px;
   
      
}