


html{
    scroll-behavior: smooth;
}






.preloader{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10000;
    transition: 2s all;
    visibility: visible;
    opacity: 1;
}
.load{
    animation: 2s loading infinite linear;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid rgb(155, 155, 155);
    border-top-color: rgb(255, 153, 0);
    z-index: 10001;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.inload{
    animation: 4s inloading infinite linear;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    z-index: 10001;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.done {
    visibility: hidden;
    opacity: 0;
}
@keyframes loading{
    from{
        transform:translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform:translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes inloading{
    from{
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotateX(360deg);
    }
}

header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgb(52, 64, 81);
    height: 61px;
    z-index: 162; 
    filter: drop-shadow(0px -10px 30px rgba(0, 0, 0, 0.87));
         
}
.wrapper{
    margin: 0 auto;
    max-width: 1060px;
}
.wrapper_header{  
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.logo{
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(255, 255, 255);
}
.logo_text{
    text-decoration: none;  
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
    flex-wrap: wrap;
}
.nav_list{
    margin-right: 483px;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}

.list_text{
    color: aliceblue;
    margin-right: 35px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(255, 255, 255);
    text-decoration: none;
} 
.list_text:hover{
    animation: ease-in;
    animation-name: text;
    animation-duration: 0.2s;
}
 
@keyframes text{
    0%{    
        color: rgb(160, 160, 160);
    }
    100%{  
        color: rgb(196, 253, 255);  
    }
}


@media (max-width:1200px){
    .wrapper{
        max-width: 970px;
    }
}


@media (max-width:992px){
    .wrapper{
        margin: 0 auto;
        width: 750px;
    }
    .logo{
        font-size: 16.667px;
        font-family: "Franklin Gothic Medium";
        color: rgb(255, 255, 255);
    }
}

@media (max-width:376px){
    header{
        display: none;
    }
    .logo_text {
        display: none;
    }
    .wrapper_header{  
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header_nav{
        display: none;
    }
}
@media (max-width:769px){
    header{
        display: none;
    }
    .logo_text {
        display: none;
    }
    .wrapper_header{  
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header_nav{
        display: none;
    }
}

















.main{
    width: 100%;
    height: 80%;
    background: url(../img/bg_main.png) center no-repeat;
    background-size: cover;
    padding-top:90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title_container_text{
    text-align: center;
    font-size: 79px;
    font-family: "Franklin Gothic Medium";
    color: rgb(44, 56, 74);

}
.title_container_text2{
    padding-top: 29px;
    text-align: center;
    font-size: 21px;
    font-family: "Franklin Gothic Medium";
    color: rgb(121, 129, 141);
      
}
.title_container_btns{
    text-align: center;
    padding-top: 70px;
    margin-left: 26px;
}
.title_container_btn{
    text-decoration: none;
    padding: 10px;
    overflow:hidden;
    border-width: 2.083px;
    border-color: rgb(109, 118, 130);
    background-color: rgb(235, 235, 242);
    border-style: solid;
    border-radius: 5px;
    width: 90.834px;
    height: 37.834px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(109, 118, 130);
     margin-right: 26px;     
}
.title_container_btn:hover{
    animation-name: btn;
    animation-duration: 2s;
}
@keyframes btn {
    0%{
        border-color: rgb(109, 118, 130);
        
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.267));
    }
    50%{
        border-color: rgb(165, 104, 34);
        
        filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.267));
    }
    0%{
        border-color: rgb(58, 17, 5);
        
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.267));
    }
}





.title_container{
    animation: bounce-in-right 2s ease;
    animation-duration: 2s;
    animation-delay:2s;
}

@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(1000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }


.gay_main{
    animation-delay:2s;
    animation-name: move2;
    animation-duration: 2s;
    filter: drop-shadow(10px -10px 300px rgba(0, 0, 0, 0.582));
}

@keyframes move2 {
    0% {
        transform: translate(100px,0);
        opacity: 0;
    }

    
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@media (max-width:1442px){
    .main{
        padding-top: 90px;
        width: 1400px;
        
    }
    .title_container_text{
        font-size: 55px;
    }
    .title_container_text2{
        font-size: 27px;
        padding-top: 12px;
    }
    .title_container_btns{
        padding-top: 40px;
    }
    .title_container_btn{
        font-size: 20px;
    }
    .gay_main{
        width: 535px;
    }
}
@media (max-width:1200px){
    .main{
        padding-top: 90px;
        width: 1200px;
        
    }
    .title_container_text{
        font-size: 35px;
    }
    .title_container_text2{
        font-size: 17px;
        padding-top: 12px;
    }
    .title_container_btns{
        padding-top: 30px;
    }
    .title_container_btn{
        font-size: 13px;
    }
    .gay_main{
        width: 435px;
    }
}

@media (max-width:992px){
    .main{
        padding-top: 90px;
        width: 992px;
        
    }
    .title_container_text{
        font-size: 30px;
    }
    .title_container_text2{
        font-size: 14px;
        padding-top: 12px;
    }
    .title_container_btns{
        padding-top: 25px;
    }
    .title_container_btn{
        font-size: 12px;
    }
    .gay_main{
        width: 335px;
    }
}
@media (max-width:769px){
    .main{
        width: 769px;

    }
}
@media (max-width:376px){
    .main{
        padding-top: 65px;
        width: 375px;
    }
    .title_container_text{
        text-align: center;
        font-size: 39px;
        font-family: "Franklin Gothic Medium";
        color: rgb(44, 56, 74);

    }
    .title_container_text2{
        padding-top: 10px;
        text-align: center;
        font-size: 19px;
        font-family: "Franklin Gothic Medium";
        color: rgb(121, 129, 141);
        
    }
    .title_container_btns{
        text-align: center;
        padding-top: 30px;
        margin-left: 26px;
    }
    .title_container_btn{
        text-decoration: none;
        padding: 10px;
        overflow:hidden;
        border-width: 2px;
        border-color: rgb(109, 118, 130);
        background-color: rgb(235, 235, 242);
        border-style: solid;
        border-radius: 5px;
        font-size: 15px;
        font-family: "Franklin Gothic Medium";
        color: rgb(109, 118, 130);
        margin-right: 26px;
    }     
    .gay_main{
        padding-top: 29px;
        width: 360px;
    }
}
    































.wrapper_am{
    filter: drop-shadow(0px -10px 30px rgba(0, 0, 0, 0.267));
    background-color: rgb(255, 255, 255);
    transform: translate(0,-100px);
    width: 100%;
    min-height: 717px;
    padding-bottom: 90px;
}
.wrapper_title_container{
    padding-top: 108px;
    text-align: center;
    width: 810px;
    margin: 0 auto;
}
.title_container_text3{
font-family: Franklin Gothic Heavy;
font-size: 33px;
}
.line{
    animation-duration: 2s;
    margin: 0 auto;
    margin-top: 31px;
    padding: 2px;
    width: 62px;
    background-color: rgb(235, 103, 10);
}
.wrapper_title_container:hover .line{
    animation:ease-in;
    animation-name: move-line;
    animation-duration: 1s;
}

@keyframes move-line {
    0%{
        width: 62px;
    }
    25%{
        width: 75px;
        background-color: rgb(255, 0, 0);
    }
    50%{
        width: 170px;  
        background-color: rgb(251, 255, 0);
    }
    75%{
         width: 75px;
         background-color: rgb(0, 47, 255);
    }
    100%{
        width: 62px;
        background-color: rgb(235, 103, 10);

    }

}
.circle_photo{
    padding: 59px 0px 22px 0px;
}
.circle_photo:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.title_container_text4{
    line-height: 1.2;
    margin-bottom: 36px;
    text-align: left;
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90); 
}
.title_container_btn_am{
    margin-top: 100px;
    text-decoration: none;
    padding: 10px;
    overflow:hidden;
    border-width: 2.083px;
    border-color: rgb(109, 118, 130);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    width: 90.834px;
    height: 37.834px;
    font-size: 16.667px;
    font-family: "Franklin Gothic Medium";
    color: rgb(109, 118, 130);   
}
.title_container_btn_am_icon{
   margin-right: 5px;
}

@media (max-width:1442px){
    .wrapper_am{
        
        width: 1400px;
        
    }
}
@media (max-width:1200px){
    .wrapper_am{
        
        width: 1200px;
    }
    .title_container_text3{
        font-size: 24px;
    }
}
@media (max-width:992px){
    .wrapper_am{
        transform: translate(0,-50px);
        width: 992px;
    }
    .title_container_text3{
        font-size: 24px;
    }
    .wrapper_title_container{
        padding-top: 250px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .line{
        margin-top: 13px;
    }
    .circle_photo{
        padding: 20px 0px 12px 0px;
    }
}
@media (max-width:769px){
    .wrapper_am{
        width: 769px;
        
    }
}
@media (max-width:376px){
    .wrapper_am{
        transform: translate(0,-50px);
        width: 375px;
        height: 100%;
        margin: 0 auto;

    }
    .wrapper_title_container{
        padding-top: 10px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .title_container_text3{
        font-family: Franklin Gothic Heavy;
        font-size: 33px;
        padding-top: 0px;
    }
    .line{
        margin-top: 21px;
    }
    .circle_photo{
        height: 120px;
        padding: 25px 0px 22px 0px;
    }
    
    .title_container_text4{
        line-height: 1.1;
        margin-bottom: 19px;
        text-align: left;
        font-size: 11px;
        font-family: "Calibri";
        color: rgb(63, 73, 90); 
    }
}











.wrapper_wic{
    height: 523px;
    transform: translate(0,-100px);
    width: 100%;
    background: url(../img/bg_what_i_can.png) no-repeat;
    background-size: cover;
}
.type_works{
    align-items: flex-end;
    justify-content: center;
    padding-top: 107px;
    display: flex;
    flex-wrap: wrap;
}
.type_works_card{
    text-align: center;
    padding:0px 42px 0px 42px;
    width: 245px;
}
.rocket_ico{
    transform: translate(0,4
0px);
}
.title_container_text6{
    margin-bottom: 36px;
    line-height: 21px;
    text-align: center;
    font-size: 16.667px;
    font-family: "arial";
    color: #323e4f; 
}
.title_container_text5{
    font-size: 21px;
    font-family: "Bahnschrift";
    color: rgb(235, 103, 10);
    padding: 34px 0px 14px 0px;    
}

@media (max-width:1442px){
    .wrapper_wic{
        margin: 0 auto;
        width: 1400px;
    }
    .wrapper_title_container{
        padding-top: 34px;
    }
    .type_works{
        padding-top: 68px;
        justify-content: space-around;
    }
    .type_works_card{
        width: 200px;
    }
}
@media (max-width:1200px){
    .wrapper_wic{
        margin: 0 auto;
        width: 1200px;
    }
    .wrapper_title_container{
        padding-top: 34px;
    }
    .type_works{
        padding-top: 68px;
        justify-content: space-around;
    }
    .type_works_card{
        width: 200px;
    }
}
@media (max-width:992px){
    .wrapper_wic{
        margin: 0 auto;
        width: 992px;
    }
    .wrapper_title_container{
        padding-top: 34px;
    }
    .type_works{
        padding-top: 68px;
        justify-content: space-around;
    }
    .type_works_card{
        width: 150px;
    }
}
@media (max-width:769px){
    .wrapper_wic{
        width: 769px;
        
    }
}
@media (max-width:376px){
    .wrapper_wic{
        margin: 0 auto;
        width: 375px;

    }
    .wrapper_wic{
        height: 100%;
        transform: translate(0,-190px);
        width: 100%;
        background: url(../img/bg_what_i_can.png) center no-repeat;
        background-size: cover;
    }
    .type_works{
        align-items: flex-end;
        justify-content: center;
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
    }
    .type_works_card{
        text-align: center;
        padding: 0px 1px 0px 1px;
        width: 45%;
    }
    
}








.wrapper_cases{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    transform: translate(0,-100px);
}
.cases_text{
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90); 
    padding: 36px 0px 39px 0px;
}
.screen_site{
    max-width: 80%;
}
.cases_overlook{
    margin: 0 auto;
    align-items: flex-start;
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}
.visit_live_site{
    text-align: left;
}
.client{
    text-align: left;
    font-weight: bold;
    font-size: 21px;
    color: rgb(63, 73, 90); 
    font-family: Arial, Helvetica, sans-serif;
}
.title_container_text7{
    padding: 7px 0px 12px 0px;
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90);
}
.visit_btn{
    width: 206px;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #63b5ae;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.name_project{
    padding-left: 82px;
    text-align: left;
}

@media (max-width:1442px) {
    .wrapper_cases{
        width: 1400px;
        margin: 0 auto;
    }
    .cases_text{
        font-size: 23px;
    }
    .title_container_text7{
        font-size: 23px;
    }
    .title_container_text4{
        font-size: 24px;
    }
    .visit_btn{
        font-size: 23px;
    }
    .client{
        font-size: 28px;
    }
}

@media (max-width:1200px) {
    .wrapper_cases{
        width: 1200px;
        margin: 0 auto;
    }
    .cases_text{
        font-size: 23px;
    }
    .title_container_text7{
        font-size: 23px;
    }
    .title_container_text4{
        font-size: 24px;
    }
    .visit_btn{
        font-size: 23px;
    }
    .client{
        font-size: 28px;
    }
}

@media (max-width:992px) {
    .wrapper_cases{
        width: 992px;
        margin: 0 auto;
    }
    .cases_text{
        font-size: 23px;
    }
    .title_container_text7{
        font-size: 23px;
    }
    .title_container_text4{
        font-size: 21px;
    }
    .visit_btn{
        font-size: 23px;
    }
    .client{
        font-size: 28px;
    }
    .name_project {
        padding-left: 22px;
        text-align: center;
    }
}
@media (max-width:769px){
    .wrapper_cases{
        width: 769px;
        
    }
}
@media (max-width:376px){
    .wrapper_cases{
        width: 375px;
        margin: 0 auto;
        text-align: center;
        transform: translate(0,-190px);
    }
    .cases_text{
        text-align: center;
        font-size: 16px;
        font-family: "Calibri";
        color: rgb(63, 73, 90); 
        padding: 26px 7px 39px 7px;
    }
    .screen_site{
        max-width: 80%;
    }
    .cases_overlook{
        margin: 0 auto;
        align-items: flex-start;
        width: 80%;
        padding-top: 50px;
        display: flex;
        flex-wrap: nowrap;
    }
    .visit_live_site{
        text-align: left;
    }
    .client{
        text-align: left;
        font-weight: bold;
        font-size: 21px;
        color: rgb(63, 73, 90); 
        font-family: Arial, Helvetica, sans-serif;
    }
    .title_container_text7{
        padding: 7px 0px 12px 0px;
        font-size: 16.667px;
        font-family: "Calibri";
        color: rgb(63, 73, 90);
    }
    .visit_btn{
        width: 206px;
        height: 45px;
        border-radius: 5px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: #63b5ae;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .name_project{
        padding-left: 82px;
        text-align: left;
    }
}
@media (max-width:769px){
    .wrapper_cases{
        width: 769px;
        margin: 0 auto;
        text-align: center;
        transform: translate(0,-190px);
    }
    .cases_text{
        text-align: center;
        font-size: 16px;
        font-family: "Calibri";
        color: rgb(63, 73, 90); 
        padding: 26px 7px 39px 7px;
    }
    .screen_site{
        max-width: 80%;
    }
    .cases_overlook{
        margin: 0 auto;
        align-items: flex-start;
        width: 80%;
        padding-top: 50px;
        display: flex;
        flex-wrap: nowrap;
    }
    .visit_live_site{
        text-align: left;
    }
    .client{
        text-align: left;
        font-weight: bold;
        font-size: 21px;
        color: rgb(63, 73, 90); 
        font-family: Arial, Helvetica, sans-serif;
    }
    .title_container_text7{
        padding: 7px 0px 12px 0px;
        font-size: 16.667px;
        font-family: "Calibri";
        color: rgb(63, 73, 90);
    }
    .visit_btn{
        width: 206px;
        height: 45px;
        border-radius: 5px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: #63b5ae;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .name_project{
        padding-left: 82px;
        text-align: left;
    }
}















.s{
    width: 100%;
    height: 1px;
    transform: translateY(-100px);
}
.wrapper_calc{
    width: 1440px; 
    margin: 0 auto;
    text-align: center;
}
.calc_forms{
    width: 891px;
    margin: 0 auto;
}
.wrapper_calc_inputs{
    margin: 0 auto;
    width: 891px;
    padding-top: 50px;
}
.input_calc{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 891px;
    height: 57px;
    background-color: #eeeeee;
}
.input_place{
    padding-top: 7px;
    width: 791px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/*popaps_srat*/
.popup_type_site{
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 57px;
    left: 0px;
    position: absolute;
    width: 841px;
    height: 300px;
    background-color: #eeeeee;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.267));
    display:none;
}
.input_calc:hover .popup_type_site{
    display:block;
    padding-left: 50px;
}

.popup_points{
    padding-top: 30px;
    text-align: left;
    width: 791px;
    
}
.popup_points a{
    text-decoration: none;
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(63, 73, 90);
    line-height: 54px;
    font-size: 20px;
}
.popup_points a:hover{
    color:brown;
    transition: 0.3s;
}
.result_line{
    margin: 0 auto;
    height: 2px;
    width: 891px;
    background-color: rgb(196, 192, 192);
}
.result{
    font-family: "Calibri";
    color: rgb(63, 73, 90);
    line-height: 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.w_result{
    padding-top: 50px;
    margin: 0 auto;
    width: 891px;
}



@media (max-width: 1442px){
    .wrapper_calc{
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1200px){
    .wrapper_calc{
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 992px){
    .wrapper_calc{
        width: 992px;
        margin: 0 auto;
    }
    .input_calc{
        margin-top: 7px;
        width: 885px;
        height: 40px;
    }
}
@media (max-width:769px){
    .wrapper_calc{
        width: 760px;
        margin: 0 auto;
    }
    .result_line{
        width: 100%;
    }
    .w_result{
        width: 80%;
    }
    .calc_forms{
        width: 769px; 
    }
    .wrapper_calc_inputs{
        width: 90%;
        margin: 0 auto;
    }
    .input_calc{
        width: 100%;
    }
    .popup_type_site{
        transform: translateY(-17px);
        width: 92%;
    }
}
@media (max-width:376px){
    .wrapper_calc{
        width: 375px;
        margin: 0 auto;
    }
}





























.some_stsatistic{
    background-image: url(../img/bg_statisticpng.png);
    background-size: cover;
    height: 523px;
    transform: translate(0,100px);
    width: 100%;
}
.some_stsatistic_wrap{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.title_container_text9{
    padding: 35px 0px 35px 0px;
    font-family: Impact;
    font-size: 35px;
    color: #323e4f;
    font-weight: bold;
}
.title_container_text10{
    font-family: Franklin Gothic Medium;
    font-size: 20px;
    color: #323e4f;
}

@media (max-width: 1442px){
    .some_stsatistic{
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1200px){
    .some_stsatistic{
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 992px){
    .some_stsatistic{
        width: 992px;
        margin: 0 auto;
    }
}
@media (max-width: 769px){
    .some_stsatistic{
        width: 769px;
    }
}
@media (max-width:376px){
    .some_stsatistic{
        width: 375px;
        margin: 0 auto;
    }
}



































.rewiews{
    width: 100%;
    height: 523px;
    text-align: center;
    transform: translate(0,100px);
}

.rewiews_container{
    padding-top: 103px;

}
b{
    font-weight: bold;
}

.crcl{
    display: flex;
    justify-content: center;
    padding-bottom: 106px;
}
.crcl_1{
    margin-left: 7px;
    margin-right: 7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(235, 103, 10);
}
.crcl_2, .crcl_3{
    margin-left: 7px;
    margin-right: 7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
}
@media (max-width: 1442px){
    .rewiews{
        width: 1400px;
        margin: 0 auto;
    }

}

@media (max-width: 1200px){
    .rewiews{
        width: 1200px;
        margin: 0 auto;
    }


}

@media (max-width: 1200px){
    .rewiews{
        width: 1200px;
        margin: 0 auto;
    }


}
@media (max-width: 992px){
    .rewiews{
        width: 992px;
        margin: 0 auto;
    }
    .client{
        font-size: 16px;
    }
}
@media(max-width:769px){
    .rewiews{
        width: 769px;
    }
}
@media (max-width:376px){
    .rewiews{
        width: 375px;
        margin: 0 auto;
    }
}





















.contacts{
    width: 100%;
    height: 810px;
    transform: translate(0,160px);
    background-image: url(../img/bg_contacts.png) ;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.title_container_text11{
    color: rgb(235, 236, 253);
    font-family: Franklin Gothic Heavy;
    font-size: 33px;
}
.contact_text{
    font-size: 16.667px;
    font-family: "Calibri";
    color: rgb(235, 236, 253);
    padding: 26px 0px 39px 0px;  
}
.wrap_contacts_2{

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;

}
.wrap_contact{
    padding-top: 19px;
    margin: 0px 20px 0px 20px;
    width: 160px;
}
.title_container_text13{
    color: rgb(235, 236, 253);
    font-family: "Calibri";
    margin-top: 15px;
    
}
.text_contact_write_me{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(235, 236, 253); 
    font-family: Arial, Helvetica, sans-serif;
}

.input_cocntainer_1{
    padding-top: 40px;
}
.contact_input_name{
    margin-right: 5px;
    width: 353px;
    height: 35px;
    background-color: #d3d6dc;
}
.contact_input_Email{
    margin-left: 5px;
    width: 353px;
    height: 35px;
    background-color: #d3d6dc;
}
.input_cocntainer_2{
    text-align:start;
    margin-top: 15px;
    width: 728px;
    height: 96px;
    background-color: #d3d6dc;
    margin-bottom: 35px;
}
.wrap_btn_cocnact{
    text-decoration: none;
}
::placeholder{
    text-align: start;
    padding-left: 10px;
}

.btn_cocnact{
    margin:  0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 49px;
    width: 125px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    font-family: arial;
}

@media (max-width: 1442px){
    .contacts{
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1200px){
    .contacts{
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 992px){
    .contacts{
        width: 992px;
        margin: 0 auto;
        height: 584px;
    }
    .title_container_text11{
    font-size: 20px;
    padding-top: 50px;
    }
    .contact_text{
        padding: 16px 0px 6px 0px;
    }
    .input_cocntainer_1{
        width: 50%;
    }
    .contact_input_Email{
        margin: 10px 0px;
        height: 27px;
    }
    .contact_input_name{
        margin: 0px;
        height: 27px;
    }
    .input_cocntainer_2{
        transform: translate(202px,-102px);
        width: 457px;
        height: 72px;
    }
    .btn_cocnact{
        transform: translate(0px,-103px);
        height: 32px;
        width: 182px;
    }
}

@media(max-width:769px){
   .contacts{
        width: 769px;
        margin: 0 auto;
        height: 584px;
    }
    .title_container_text11{
    font-size: 20px;
    padding-top: 50px;
    }
    .contact_text{
        padding: 16px 0px 6px 0px;
    }
    .input_cocntainer_1{
        width: 50%;
    }
    .contact_input_Email{
        margin: 10px 0px;
        height: 27px;
    }
    .contact_input_name{
        margin: 0px;
        height: 27px;
    }
    .input_cocntainer_2{
        transform: translate(-140px,-16px);
        width: 457px;
        height: 72px;
    }
    .btn_cocnact{
        transform: translate(0px,0px);
        height: 32px;
        width: 182px;
    }
}








.map{
    transform: translate(0,160px);
}

@media (max-width: 1442px){
    .map{
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1200px){
    .map{
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 992px){
    .map{
        width: 992px;
        margin: 0 auto;
    }
}
@media (max-width:769px){
    .map{
        width: 769px;
    }
}
@media (max-width:376px){
    .map{
        width: 375px;
        margin: 0 auto;
    }
}







.footer{
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(0,200px);
    width: 100%;
    height: 96px;
    background-color: #354051;
}
.menu_footer{
    margin: 0 auto;
    color:#d3d6dc;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1442px){
    .footer{
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1200px){
    .footer{
        width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 992px){
    .footer{
        width: 992px;
        margin: 0 auto;
    }
}
@media (max-width:769px){
    .footer{
        width: 769px;
        margin: 0 auto;
    }
}
@media (max-width:376px){
    .footer{
        width: 375px;
        margin: 0 auto;
    }
}
